<div class="container">
    <form (ngSubmit)="onSubmit()" #paymentForm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Payment Plan
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <i class="fas fa-question-circle blackiconcolor"></i>
                            <label for="mortgageAmt">Mortgage Amount</label>
                            <div class="input-container">
                                <i class="fas fa-dollar-sign icon"></i>
                                <input class="custominput" type="number" class="form-control" required
                                    [(ngModel)]="mortgage.mortgageAmt" name="mortgageAmt" #mortgageAmt="ngModel">
                            </div>
                            <div *ngIf="((mortgageAmt.pristine || mortgageAmt.untouched))" class="alert alert-danger">
                                Mortgage Amount is required
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-question-circle blackiconcolor"></i>
                            <label for="interestRate">Interest Rate</label>
                            <div class="input-container">
                                <i class="fas fa-percent icon"></i>
                                <input class="custominput" type="number" class="form-control" required
                                    [(ngModel)]="mortgage.interestRate" name="interestRate" #interestRate="ngModel">
                            </div>
                            <div *ngIf="((interestRate.pristine || interestRate.untouched))" class="alert alert-danger">
                                Interest Rate is required
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-question-circle blackiconcolor"></i>
                            <label for="mortgageAmt">Amortisation Period</label>
                            <div class="container customcontainer">
                                <div class="row">
                                    <div class="col-md-6 customcolumn">
                                        <select class="customselect" name="amortisationPeriodYear"
                                            [(ngModel)]=mortgage.amortisationPeriodYear>
                                            <option *ngFor="let year of availableYears" [value]="year.id">{{year.label}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 customcolumn">
                                        <select class="customselect" name="amortisationPeriodMonth"
                                            [(ngModel)]=mortgage.amortisationPeriodMonth>
                                            <option *ngFor="let month of availableMonths" [value]="month.id">
                                                {{month.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        PrePayment Plan
                    </div>
                    <div class="card-body">
                        <p>These are dummy fields:::</p>
                        <div class="form-group">
                            <i class="fas fa-question-circle blackiconcolor"></i>
                            <label for="mortgageAmt">PrePayment Amount</label>
                            <div class="input-container">
                                <i class="fas fa-dollar-sign icon"></i>
                                <input class="custominput" type="number" class="form-control" required
                                    name="mortgageAmt">
                            </div>
                        </div>
                        <div class="form-group">
                            <i class="fas fa-question-circle blackiconcolor"></i>
                            <label for="mortgageAmt">Start With Payment</label>
                            <div class="input-container">
                                <i class="fas fa-dollar-sign icon"></i>
                                <input class="custominput" type="number" class="form-control" required
                                    name="mortgageAmt">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <button class="btn btn-primary" [disabled]="!paymentForm.form.valid">Calculate</button>
    </form>
</div>
<br />
<app-summary *ngIf="submitted" [summaryPayment]="calculatedAmt"></app-summary>