<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<div class="container">
  <h1>
    <div class="heading">
      <!-- <i class="fas fa-home"></i> -->
      <fa-icon [icon]="faHome"></fa-icon>
      <span class="headingtext"><b>
          Mortgage Calculator
        </b></span>
    </div>
  </h1>
  <div class="description">
    <p>This calculator determines your mortgage payment and provides you with a mortgage payment schedule. The
      calculator also shows how much money and how many years you can save by making prepayments.</p>
  </div>
  <app-calculator></app-calculator>
</div>